Package: gaoshilei.WeRunTweak
Name: WeRunTweak
Version: 1.0-1
Description: 
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: 高石磊
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

